<!-----------lion----------->
<div id="lionContent">
	<div class="lionImg bothImg">
		<img src="img/lion.jpg"/>
	</div>
	<div class="lionTxt bothTxt">
		<div class="txt-top">
			<h2>狮子座(Leo)</h2>
			<span>7月23日-8月22日</span>
		</div>
		<div class="txt-mid">
			<p>狮子座的人热情、阳光、大方是他们性格上最大的特色。与他们性格上的优点不同，他们爱面子、自信得有点儿自大，常常会很在乎别人对自己的看法，也常常会因此而使自己不快乐。</p>
		</div>
	</div>
	<div class="txt-list bothList">
		<ul>
			<li>上升狮子座</li>
			<li>月亮狮子座</li>
			<li>狮子座弱点</li>
			<li>探索狮子座</li>
			<li>狮子座爱情</li>
			<li>狮子座个性</li>
			<li>狮子座优缺点</li>
			<li>狮子座女生</li>
			<li>狮子座男生</li>
		</ul>
	</div>
</div>
<!-----------shuangzi----------->
<div id="shuangZiContent">
	<div class="shuangZiImg bothImg">
		<img src="img/shuangzi.jpg"/>
	</div>
	<div class="shuangZiTxt bothTxt">
		<div class="txt-top">
			<h2>双子座(Gemini)</h2>
			<span>5月22日-6月21日</span>
		</div>
		<div class="txt-mid">
			<p>双子座的人往往喜好新鲜事物，他们有着小聪明，但做事常常不太专一。与双子座的人聊天也许会让你觉得很兴奋，因为他们脑子中那些新鲜的、稀奇古怪的东西会让有充满好奇。也许是对新鲜事物的追求和好奇，会让人觉得他们很花心，其实不然，他们仅仅是喜欢新鲜而已。</p>
		</div>
	</div>
	<div class="txt-list bothList">
		<ul>
			<li>上升双子座</li>
			<li>月亮双子座</li>
			<li>双子座弱点</li>
			<li>探索双子座</li>
			<li>双子座爱情</li>
			<li>双子座个性</li>
			<li>双子座优缺点</li>
			<li>双子座女生</li>
			<li>双子座男生</li>
		</ul>
	</div>
</div>

<!-----------juXie----------->
<div id="juXieContent">
	<div class="juXieImg bothImg">
		<img src="img/juxie.jpg"/>
	</div>
	<div class="juXieTxt bothTxt">
		<div class="txt-top">
			<h2>巨蟹座(Cancer)</h2>
			<span>6月22日-7月22日</span>
		</div>
		<div class="txt-mid">
			<p>巨蟹座的人往往充满了爱心，他们将母性的本质发挥到了极限。对他们来说，最重要的东西是家庭。他们往往就像蟹一样，在充满坚硬的外壳下面是柔软的内心。巨蟹座是最执着的星座，他们对朋友、对家人的忠实，做事会一直坚持到底。</p>
		</div>
	</div>
	<div class="txt-list bothList">
		<ul>
			<li>上升巨蟹座</li>
			<li>月亮巨蟹座</li>
			<li>巨蟹座弱点</li>
			<li>探索巨蟹座</li>
			<li>巨蟹座爱情</li>
			<li>巨蟹座个性</li>
			<li>巨蟹座优缺点</li>
			<li>巨蟹座女生</li>
			<li>巨蟹座男生</li>
		</ul>
	</div>
</div>

<!-----------tianPing----------->
<div id="tianPingContent">
	<div class="tianPingImg bothImg">
		<img src="img/tp.jpg"/>
	</div>
	<div class="tianPingTxt bothTxt">
		<div class="txt-top">
			<h2>天秤座(Cancer)</h2>
			<span>9月24日-10月23日</span>
		</div>
		<div class="txt-mid">
			<p>天秤座常常追求和平和谐的感觉，他们善于交谈，沟通能力极强是他们最大的优点。但他们最大的缺点，往往是犹豫不决。天秤座的人容易将自己的想法加诸到别人身上，天秤座的人要小心这点。天秤座女生常常希望他们的伴侣会时刻陪伴着她。</p>
		</div>
	</div>
	<div class="txt-list bothList">
		<ul>
			<li>上升天秤座</li>
			<li>月亮天秤座</li>
			<li>天秤座弱点</li>
			<li>探索天秤座</li>
			<li>天秤座爱情</li>
			<li>天秤座个性</li>
			<li>天秤座优缺点</li>
			<li>天秤座女生</li>
			<li>天秤座男生</li>
		</ul>
	</div>
</div>

<!-----------baiYang----------->
<div id="baiYangContent">
	<div class="baiYangImg bothImg">
		<img src="img/by.jpg"/>
	</div>
	<div class="baiYangTxt bothTxt">
		<div class="txt-top">
			<h2>白羊座(Aries)</h2>
			<span>3月21日-4月20日</span>
		</div>
		<div class="txt-mid">
			<p>白羊座的人热情冲动、爱冒险、慷慨、天不怕地不怕而且一旦下定决心，不到黄河心不死，排除万难的要达到目的。大部分属于白羊座的人的脾气都很差，不过只是炮仗颈，绝对不会放在心上，而天蝎座便正好是白羊座的相反。</p>
		</div>
	</div>
	<div class="txt-list bothList">
		<ul>
			<li>上升白羊座</li>
			<li>月亮白羊座</li>
			<li>白羊座弱点</li>
			<li>探索白羊座</li>
			<li>白羊座爱情</li>
			<li>白羊座个性</li>
			<li>白羊座优缺点</li>
			<li>白羊座女生</li>
			<li>白羊座男生</li>
		</ul>
	</div>
</div>

<!-----------chuNv----------->
<div id="chuNvContent">
	<div class="chuNvImg bothImg">
		<img src="img/cv.jpg"/>
	</div>
	<div class="chuNvTxt bothTxt">
		<div class="txt-top">
			<h2>处女座(Virgo)</h2>
			<span>8月23日-9月23日</span>
		</div>
		<div class="txt-mid">
			<p>处女座追求完美，吹毛求疵是他们的特性。多数的处女座都很谦虚，但也因此给自己造成很大的压力。处女座的人不喜欢闲着，对别人常常乐于服务。缺乏自信的处女座有时候组织能力较差，需要家人与朋友们的鼓励去推动他们。</p>
		</div>
	</div>
	<div class="txt-list bothList">
		<ul>
			<li>上升处女座</li>
			<li>月亮处女座</li>
			<li>处女座弱点</li>
			<li>探索处女座</li>
			<li>处女座爱情</li>
			<li>处女座个性</li>
			<li>处女座优缺点</li>
			<li>处女座女生</li>
			<li>处女座男生</li>
		</ul>
	</div>
</div>


