<div id="constellationMatch-header" class="commonHeader">
	星座配对
</div>

<div id="constellationMatch-body">
	<div id='matchBox'>
		<div class='boy'>
			男生：<select>
					<option value="1">白羊座　（3.21-4.20）</option>	
					<option value="2">金牛座　（4.21-5.21）</option>
					<option value="3">双子座　（5.22-6.21）</option>
					<option value="4">巨蟹座　（6.22-7.22）</option>
					<option value="5">狮子座　（7.23-8.23）</option>	
					<option value="6">处女座　（8.24-9.23）</option>
					<option value="7">天秤座　（9.24-10.23）</option>
					<option value="8">天蝎座　（10.24-11.22）</option>
					<option value="9">射手座　（11.23-12.21）</option>	
					<option value="10">魔羯座　（12.22-1.20）</option>
					<option value="11">水瓶座　（1.21-2.19）</option>
					<option value="12">双鱼座　（2.20-3.20）</option>
			</select>
		</div>	
		
		<div class='girl'>	
			女生：<select >
					<option value="1">白羊座　（3.21-4.20）</option>	
					<option value="2">金牛座　（4.21-5.21）</option>
					<option value="3">双子座　（5.22-6.21）</option>
					<option value="4">巨蟹座　（6.22-7.22）</option>
					<option value="5">狮子座　（7.23-8.23）</option>	
					<option value="6">处女座　（8.24-9.23）</option>
					<option value="7">天秤座　（9.24-10.23）</option>
					<option value="8">天蝎座　（10.24-11.22）</option>
					<option value="9">射手座　（11.23-12.21）</option>	
					<option value="10">魔羯座　（12.22-1.20）</option>
					<option value="11">水瓶座　（1.21-2.19）</option>
					<option value="12">双鱼座　（2.20-3.20）</option>
			</select>
		</div>	
		<button>开始配对</button>
	</div>
</div>
