<div id="constellation-header" class="commonHeader">
	星座
</div>

<div id="constellation-body">
	<ul>
		<li class="lion">
			<i></i>
			<em>狮子座</em>
		</li>
		<li class="shuangZi">
			<i></i>
			<em>双子座</em>
		</li>
		<li class="juXie">
			<i></i>
			<em>巨蟹座</em>
		</li>
		<li class="tianPing">
			<i></i>
			<em>天秤座</em>
		</li>
		<li class="baiYang">
			<i></i>
			<em>白羊座</em>
		</li>
		<li class="chuNv">
			<i></i>
			<em>处女座</em>
		</li>
		<li>
			<i></i>
			<em>水瓶座</em>
		</li>
		<li>
			<i></i>
			<em>双鱼座</em>
		</li>
		<li>
			<i></i>
			<em>射手座</em>
		</li>
		<li>
			<i></i>
			<em>摩羯座</em>
		</li>
		<li>
			<i></i>
			<em>金牛座</em>
		</li>
		<li>
			<i></i>
			<em>天蝎座</em>
		</li>
	</ul>
</div>