<div id="index_ft-header" class="commonHeader">
	<ul>
		<li class="iconfont icon-tubiaoxingzuo"></li>
		<li><span>谪&nbsp;星</span></li>
		<li class="iconfont icon-saoyisao"></li>
	</ul>
</div>

<div id="index_ft-body">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="img/star1.jpg"/>
			</div>
			
			<div class="swiper-slide">
				<img src="img/star2.png"/>
			</div>
			
			<div class="swiper-slide">
				<img src="img/star3.jpg"/>
			</div>
			
			<div class="swiper-slide">
				<img src="img/star4.jpg"/>
			</div>
			
			<div class="swiper-slide">
				<img src="img/star5.jpg"/>
			</div>
			
		</div>
	</div>	
	
	<div class='welcomeBox'>
		<div class='content'>
			<div class='top'>
				<div class="font">
					<span class="iconfont icon-xingzuochi"></span>
					<span class="iconfont icon-xingzuochi"></span>
				</div>
				
				<div class='text'>
					<!--<h3>上午好，主人</h3>
					<p>双子座新月</p>-->
				</div>
				
			</div>
			
			<div class='mid'>
				<!--<ul>
					<li>
						<i>幸运颜色</i>
						<b>绿</b>
					</li>
					<li>
						<i>健康指数</i>
						<b>40%</b>
					</li>
					<li>
						<i>贵人星座</i>
						<b class='iconfont icon-xingzuoshuipingzuo'></b>
					</li>
					<li>
						<i>幸运数字</i>
						<b id="luckNum">9</b>
					</li>
				</ul>-->
			</div>
			
			<div class='bot'>
				<!--<span class="iconfont icon-lingdang"></span>
				<p>凡事要看的更远一点；脾气要收敛</p>-->
			</div>
			
			<div class='more'>
				<a href="view/moreFortune.html">查看更多运势</a>
				<i>&gt;</i>
			</div>	
		</div>	
	</div>
	
	<div id="loading">
		<img src="img/star.gif"/>
	</div>
	
	<!--<div class="listBox">
		<ul class='datalist'>
			<li>
				<span>日运</span>
				<a href="#">白羊座今日运势</a>
			</li>
			<li>
				<span>周运</span>
				<a href="#">白羊座本周运势</a>
			</li>
			<li>
				<span>月运</span>
				<a href="#">白羊座本月运势</a>
			</li>
			<li>
				<span>财运</span>
				<a href="#">白羊座财富运势</a>
			</li>
		</ul>
	</div>-->
	
</div>
