<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/moreFortune.css" />
	<script type="text/javascript" src="../js/lib/jquery-1.8.3.js" ></script>
	<script type="text/javascript" src="../js/src/moreFortune.js"></script>
	<body>
		<div id="min-content">
			<header>
				<div id="hea-top">
					<a href="../index.html">&lt;</a>
					<select>
						<option value="1">白羊座　（3.21-4.20）</option>	
						<option value="2">金牛座　（4.21-5.21）</option>
						<option value="3">双子座　（5.22-6.21）</option>
						<option value="4">巨蟹座　（6.22-7.22）</option>
						<option value="5">狮子座　（7.23-8.23）</option>	
						<option value="6">处女座　（8.24-9.23）</option>
						<option value="7">天秤座　（9.24-10.23）</option>
						<option value="8">天蝎座　（10.24-11.22）</option>
						<option value="9">射手座　（11.23-12.21）</option>	
						<option value="10">魔羯座　（12.22-1.20）</option>
						<option value="11">水瓶座　（1.21-2.19）</option>
						<option value="12">双鱼座　（2.20-3.20）</option>
					</select>
				</div>
				<div id="hea-bot">
					<ul>
						<li class="borderBotColor">今日运势</li>
						<li>明日运势</li>
						<li>本周运势</li>
						<li>本月运势</li>
						<li>本年运势</li>
					</ul>
				</div>
			</header>
			
			<section>
				<div id="core">
					<!--<ul>
						<li>
							<span>综合</span>
							<i></i>
						</li>
						<li>
							<span>爱情</span>
							<i></i>
						</li>
						<li>
							<span>事业</span>
							<i></i>
						</li>
						<li>
							<span>财运</span>
							<i></i>
						</li>
					</ul>-->
				</div>
				<div id="info">
					<!--<ul>
						<li>
							<span>幸运颜色</span>
							<i></i>
						</li>
						<li>
							<span>贵人星座</span>
							<i></i>
						</li>
						<li>
							<span>幸运数</span>
							<i></i>
						</li>
						<li>
							<span>吉时</span>
							<i></i>
						</li>
					</ul>-->
				</div>
				
				<div id="MsgContent">
					<div class="dayNotice marginbot">
						<!--<h2>今日提醒</h2>
						<p></p>-->
					</div>
					<div class="loveTxt marginbot">
						<!--<h2>爱情运势</h2>
						<p></p>-->
					</div>
					<div class="workTxt marginbot">
						<!--<h2>工作运势</h2>
						<p></p>-->
					</div>
					<div class="moneyTxt marginbot">
						<!--<h2>财富运势</h2>
						<p></p>-->
					</div>
					<div class="generalTxt marginbot">
						<!--<h2>运势简评</h2>
						<p></p>-->
					</div>
				</div>
			</section>
		</div>
		
		<div id="loadingTxt">
			<p>等待……永久的等待……</p>
		</div>
	</body>
</html>
