<div id="personal-header">
	<div class='login'>
		<dl>
			<dt class="headImg"></dt>
			<div class='text'>
				<a href="view/login.html">登录/注册</a>
				<dd class="iconfont icon-tubiao109"></dd>
			</div>
		</dl>
		<span class="iconfont icon-shezhi"></span>
	</div>
</div>

<div id="personal-body">
	<ul id='personalUl'>
		<li>
			<span class="iconfont icon-dangan-copy"></span>
			<i>我的档案</i>
			<em>&gt;</em>
		</li>
		<li>
			<span class="iconfont icon-xiaoxi"></span>
			<i>我的表态</i>
			<em>&gt;</em>
		</li>
		<li>
			<span class="iconfont icon-yuanfens"></span>
			<i>我的奇缘</i>
			<em>&gt;</em>
		</li>
		<li>
			<span class="iconfont icon-jishengxiao"></span>
			<i>生肖运势</i>
			<em>&gt;</em>
		</li>
		<li>
			<span class="iconfont icon-wodedingdan"></span>
			<i>我的订单</i>
			<em>&gt;</em>
		</li>
	</ul>
</div>